src/main/java/org/apache/ibatis/builder/xml/mybatis-3-mapper.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.1">

 <xs:element name='mapper'>
  <xs:complexType>
   <xs:choice maxOccurs='unbounded'>
    <xs:element ref='cache-ref'/>
    <xs:element ref='cache'/>
    <xs:element ref='resultMap'/>
    <xs:element ref='parameterMap'/>
    <xs:element ref='sql'/>
    <xs:element ref='insert'/>
    <xs:element ref='update'/>
    <xs:element ref='delete'/>
    <xs:element ref='select'/>
   </xs:choice>
   <xs:attribute name='xmlns' type='xs:string' use='optional'/>
   <xs:attribute name='namespace' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='cache-ref'>
  <xs:complexType>
   <xs:attribute name='namespace' type='xs:string' use='required'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='cache'>
  <xs:complexType>
   <xs:sequence>
    <xs:element ref='property' minOccurs='0' maxOccurs='unbounded'/>
   </xs:sequence>
   <xs:attribute name='type' type='xs:string' use='optional'/>
   <xs:attribute name='eviction' type='xs:string' use='optional'/>
   <xs:attribute name='flushInterval' type='xs:string' use='optional'/>
   <xs:attribute name='size' type='xs:string' use='optional'/>
   <xs:attribute name='readOnly' type='xs:string' use='optional'/>
   <xs:attribute name='blocking' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='parameterMap'>
  <xs:complexType>
   <xs:sequence minOccurs='0' maxOccurs='1'>
    <xs:element ref='parameter' maxOccurs='unbounded'/>
   </xs:sequence>
   <xs:attribute name='id' type='xs:string' use='required'/>
   <xs:attribute name='type' type='xs:string' use='required'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='parameter'>
  <xs:complexType>
   <xs:attribute name='property' type='xs:string' use='required'/>
   <xs:attribute name='javaType' type='xs:string' use='optional'/>
   <xs:attribute name='jdbcType' type='xs:string' use='optional'/>
   <xs:attribute name='mode' use='optional'>
    <xs:simpleType>
     <xs:restriction base='xs:string'>
      <xs:enumeration value='IN'/>
      <xs:enumeration value='OUT'/>
      <xs:enumeration value='INOUT'/>
     </xs:restriction>
    </xs:simpleType>
   </xs:attribute>
   <xs:attribute name='resultMap' type='xs:string' use='optional'/>
   <xs:attribute name='scale' type='xs:string' use='optional'/>
   <xs:attribute name='typeHandler' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='resultMap'>
  <xs:complexType>
   <xs:sequence>
    <xs:element ref='constructor' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='id' minOccurs='0' maxOccurs='unbounded'/>
    <xs:element ref='result' minOccurs='0' maxOccurs='unbounded'/>
    <xs:element ref='association' minOccurs='0' maxOccurs='unbounded'/>
    <xs:element ref='collection' minOccurs='0' maxOccurs='unbounded'/>
    <xs:element ref='discriminator' minOccurs='0' maxOccurs='1'/>
   </xs:sequence>
   <xs:attribute name='id' type='xs:string' use='required'/>
   <xs:attribute name='type' type='xs:string' use='required'/>
   <xs:attribute name='extends' type='xs:string' use='optional'/>
   <xs:attribute name='autoMapping' use='optional'>
    <xs:simpleType>
     <xs:restriction base='xs:string'>
      <xs:enumeration value='true'/>
      <xs:enumeration value='false'/>
     </xs:restriction>
    </xs:simpleType>
   </xs:attribute>
  </xs:complexType>
 </xs:element>

 <xs:element name='constructor'>
  <xs:complexType>
   <xs:sequence>
    <xs:element ref='idArg' minOccurs='0' maxOccurs='unbounded'/>
    <xs:element ref='arg' minOccurs='0' maxOccurs='unbounded'/>
   </xs:sequence>
  </xs:complexType>
 </xs:element>

 <xs:element name='id'>
  <xs:complexType>
   <xs:attribute name='property' type='xs:string' use='optional'/>
   <xs:attribute name='javaType' type='xs:string' use='optional'/>
   <xs:attribute name='column' type='xs:string' use='optional'/>
   <xs:attribute name='jdbcType' type='xs:string' use='optional'/>
   <xs:attribute name='typeHandler' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='result'>
  <xs:complexType>
   <xs:attribute name='property' type='xs:string' use='optional'/>
   <xs:attribute name='javaType' type='xs:string' use='optional'/>
   <xs:attribute name='column' type='xs:string' use='optional'/>
   <xs:attribute name='jdbcType' type='xs:string' use='optional'/>
   <xs:attribute name='typeHandler' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='idArg'>
  <xs:complexType>
   <xs:attribute name='javaType' type='xs:string' use='optional'/>
   <xs:attribute name='column' type='xs:string' use='optional'/>
   <xs:attribute name='jdbcType' type='xs:string' use='optional'/>
   <xs:attribute name='typeHandler' type='xs:string' use='optional'/>
   <xs:attribute name='select' type='xs:string' use='optional'/>
   <xs:attribute name='resultMap' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='arg'>
  <xs:complexType>
   <xs:attribute name='javaType' type='xs:string' use='optional'/>
   <xs:attribute name='column' type='xs:string' use='optional'/>
   <xs:attribute name='jdbcType' type='xs:string' use='optional'/>
   <xs:attribute name='typeHandler' type='xs:string' use='optional'/>
   <xs:attribute name='select' type='xs:string' use='optional'/>
   <xs:attribute name='resultMap' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='collection'>
  <xs:complexType>
   <xs:sequence>
    <xs:element ref='constructor' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='id' minOccurs='0' maxOccurs='unbounded'/>
    <xs:element ref='result' minOccurs='0' maxOccurs='unbounded'/>
    <xs:element ref='association' minOccurs='0' maxOccurs='unbounded'/>
    <xs:element ref='collection' minOccurs='0' maxOccurs='unbounded'/>
    <xs:element ref='discriminator' minOccurs='0' maxOccurs='1'/>
   </xs:sequence>
   <xs:attribute name='property' type='xs:string' use='required'/>
   <xs:attribute name='column' type='xs:string' use='optional'/>
   <xs:attribute name='javaType' type='xs:string' use='optional'/>
   <xs:attribute name='ofType' type='xs:string' use='optional'/>
   <xs:attribute name='jdbcType' type='xs:string' use='optional'/>
   <xs:attribute name='select' type='xs:string' use='optional'/>
   <xs:attribute name='resultMap' type='xs:string' use='optional'/>
   <xs:attribute name='typeHandler' type='xs:string' use='optional'/>
   <xs:attribute name='notNullColumn' type='xs:string' use='optional'/>
   <xs:attribute name='columnPrefix' type='xs:string' use='optional'/>
   <xs:attribute name='resultSet' type='xs:string' use='optional'/>
   <xs:attribute name='foreignColumn' type='xs:string' use='optional'/>
   <xs:attribute name='autoMapping' use='optional'>
    <xs:simpleType>
     <xs:restriction base='xs:string'>
      <xs:enumeration value='true'/>
      <xs:enumeration value='false'/>
     </xs:restriction>
    </xs:simpleType>
   </xs:attribute>
   <xs:attribute name='fetchType' use='optional'>
    <xs:simpleType>
     <xs:restriction base='xs:string'>
      <xs:enumeration value='lazy'/>
      <xs:enumeration value='eager'/>
     </xs:restriction>
    </xs:simpleType>
   </xs:attribute>
  </xs:complexType>
 </xs:element>

 <xs:element name='association'>
  <xs:complexType>
   <xs:sequence>
    <xs:element ref='constructor' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='id' minOccurs='0' maxOccurs='unbounded'/>
    <xs:element ref='result' minOccurs='0' maxOccurs='unbounded'/>
    <xs:element ref='association' minOccurs='0' maxOccurs='unbounded'/>
    <xs:element ref='collection' minOccurs='0' maxOccurs='unbounded'/>
    <xs:element ref='discriminator' minOccurs='0' maxOccurs='1'/>
   </xs:sequence>
   <xs:attribute name='property' type='xs:string' use='required'/>
   <xs:attribute name='column' type='xs:string' use='optional'/>
   <xs:attribute name='javaType' type='xs:string' use='optional'/>
   <xs:attribute name='jdbcType' type='xs:string' use='optional'/>
   <xs:attribute name='select' type='xs:string' use='optional'/>
   <xs:attribute name='resultMap' type='xs:string' use='optional'/>
   <xs:attribute name='typeHandler' type='xs:string' use='optional'/>
   <xs:attribute name='notNullColumn' type='xs:string' use='optional'/>
   <xs:attribute name='columnPrefix' type='xs:string' use='optional'/>
   <xs:attribute name='resultSet' type='xs:string' use='optional'/>
   <xs:attribute name='foreignColumn' type='xs:string' use='optional'/>
   <xs:attribute name='autoMapping' use='optional'>
    <xs:simpleType>
     <xs:restriction base='xs:string'>
      <xs:enumeration value='true'/>
      <xs:enumeration value='false'/>
     </xs:restriction>
    </xs:simpleType>
   </xs:attribute>
   <xs:attribute name='fetchType' use='optional'>
    <xs:simpleType>
     <xs:restriction base='xs:string'>
      <xs:enumeration value='lazy'/>
      <xs:enumeration value='eager'/>
     </xs:restriction>
    </xs:simpleType>
   </xs:attribute>
  </xs:complexType>
 </xs:element>

 <xs:element name='discriminator'>
  <xs:complexType>
   <xs:sequence>
    <xs:element ref='case' maxOccurs='unbounded'/>
   </xs:sequence>
   <xs:attribute name='column' type='xs:string' use='optional'/>
   <xs:attribute name='javaType' type='xs:string' use='required'/>
   <xs:attribute name='jdbcType' type='xs:string' use='optional'/>
   <xs:attribute name='typeHandler' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='case'>
  <xs:complexType>
   <xs:sequence>
    <xs:element ref='constructor' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='id' minOccurs='0' maxOccurs='unbounded'/>
    <xs:element ref='result' minOccurs='0' maxOccurs='unbounded'/>
    <xs:element ref='association' minOccurs='0' maxOccurs='unbounded'/>
    <xs:element ref='collection' minOccurs='0' maxOccurs='unbounded'/>
    <xs:element ref='discriminator' minOccurs='0' maxOccurs='1'/>
   </xs:sequence>
   <xs:attribute name='value' type='xs:string' use='required'/>
   <xs:attribute name='resultMap' type='xs:string' use='optional'/>
   <xs:attribute name='resultType' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='property'>
  <xs:complexType>
   <xs:attribute name='name' type='xs:string' use='required'/>
   <xs:attribute name='value' type='xs:string' use='required'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='typeAlias'>
  <xs:complexType>
   <xs:attribute name='alias' type='xs:string' use='required'/>
   <xs:attribute name='type' type='xs:string' use='required'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='select'>
  <xs:complexType mixed='true'>
   <xs:choice minOccurs='0' maxOccurs='unbounded'>
    <xs:element ref='include'/>
    <xs:element ref='trim'/>
    <xs:element ref='where'/>
    <xs:element ref='set'/>
    <xs:element ref='foreach'/>
    <xs:element ref='choose'/>
    <xs:element ref='if'/>
    <xs:element ref='bind'/>
   </xs:choice>
   <xs:attribute name='id' type='xs:string' use='required'/>
   <xs:attribute name='parameterMap' type='xs:string' use='optional'/>
   <xs:attribute name='parameterType' type='xs:string' use='optional'/>
   <xs:attribute name='resultMap' type='xs:string' use='optional'/>
   <xs:attribute name='resultType' type='xs:string' use='optional'/>
   <xs:attribute name='resultSetType' use='optional'>
    <xs:simpleType>
     <xs:restriction base='xs:string'>
      <xs:enumeration value='FORWARD_ONLY'/>
      <xs:enumeration value='SCROLL_INSENSITIVE'/>
      <xs:enumeration value='SCROLL_SENSITIVE'/>
     </xs:restriction>
    </xs:simpleType>
   </xs:attribute>
   <xs:attribute name='statementType' use='optional'>
    <xs:simpleType>
     <xs:restriction base='xs:string'>
      <xs:enumeration value='STATEMENT'/>
      <xs:enumeration value='PREPARED'/>
      <xs:enumeration value='CALLABLE'/>
     </xs:restriction>
    </xs:simpleType>
   </xs:attribute>
   <xs:attribute name='fetchSize' type='xs:string' use='optional'/>
   <xs:attribute name='timeout' type='xs:string' use='optional'/>
   <xs:attribute name='flushCache' use='optional'>
    <xs:simpleType>
     <xs:restriction base='xs:string'>
      <xs:enumeration value='true'/>
      <xs:enumeration value='false'/>
     </xs:restriction>
    </xs:simpleType>
   </xs:attribute>
   <xs:attribute name='useCache' use='optional'>
    <xs:simpleType>
     <xs:restriction base='xs:string'>
      <xs:enumeration value='true'/>
      <xs:enumeration value='false'/>
     </xs:restriction>
    </xs:simpleType>
   </xs:attribute>
   <xs:attribute name='databaseId' type='xs:string' use='optional'/>
   <xs:attribute name='lang' type='xs:string' use='optional'/>
   <xs:attribute name='resultOrdered' use='optional'>
    <xs:simpleType>
     <xs:restriction base='xs:string'>
      <xs:enumeration value='true'/>
      <xs:enumeration value='false'/>
     </xs:restriction>
    </xs:simpleType>
   </xs:attribute>
   <xs:attribute name='resultSets' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='insert'>
  <xs:complexType mixed='true'>
   <xs:choice minOccurs='0' maxOccurs='unbounded'>
    <xs:element ref='selectKey'/>
    <xs:element ref='include'/>
    <xs:element ref='trim'/>
    <xs:element ref='where'/>
    <xs:element ref='set'/>
    <xs:element ref='foreach'/>
    <xs:element ref='choose'/>
    <xs:element ref='if'/>
    <xs:element ref='bind'/>
   </xs:choice>
   <xs:attribute name='id' type='xs:string' use='required'/>
   <xs:attribute name='parameterMap' type='xs:string' use='optional'/>
   <xs:attribute name='parameterType' type='xs:string' use='optional'/>
   <xs:attribute name='timeout' type='xs:string' use='optional'/>
   <xs:attribute name='flushCache' use='optional'>
    <xs:simpleType>
     <xs:restriction base='xs:string'>
      <xs:enumeration value='true'/>
      <xs:enumeration value='false'/>
     </xs:restriction>
    </xs:simpleType>
   </xs:attribute>
   <xs:attribute name='statementType' use='optional'>
    <xs:simpleType>
     <xs:restriction base='xs:string'>
      <xs:enumeration value='STATEMENT'/>
      <xs:enumeration value='PREPARED'/>
      <xs:enumeration value='CALLABLE'/>
     </xs:restriction>
    </xs:simpleType>
   </xs:attribute>
   <xs:attribute name='keyProperty' type='xs:string' use='optional'/>
   <xs:attribute name='useGeneratedKeys' use='optional'>
    <xs:simpleType>
     <xs:restriction base='xs:string'>
      <xs:enumeration value='true'/>
      <xs:enumeration value='false'/>
     </xs:restriction>
    </xs:simpleType>
   </xs:attribute>
   <xs:attribute name='keyColumn' type='xs:string' use='optional'/>
   <xs:attribute name='databaseId' type='xs:string' use='optional'/>
   <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='selectKey'>
  <xs:complexType mixed='true'>
   <xs:choice minOccurs='0' maxOccurs='unbounded'>
    <xs:element ref='include'/>
    <xs:element ref='trim'/>
    <xs:element ref='where'/>
    <xs:element ref='set'/>
    <xs:element ref='foreach'/>
    <xs:element ref='choose'/>
    <xs:element ref='if'/>
    <xs:element ref='bind'/>
   </xs:choice>
   <xs:attribute name='resultType' type='xs:string' use='optional'/>
   <xs:attribute name='statementType' use='optional'>
    <xs:simpleType>
     <xs:restriction base='xs:string'>
      <xs:enumeration value='STATEMENT'/>
      <xs:enumeration value='PREPARED'/>
      <xs:enumeration value='CALLABLE'/>
     </xs:restriction>
    </xs:simpleType>
   </xs:attribute>
   <xs:attribute name='keyProperty' type='xs:string' use='optional'/>
   <xs:attribute name='keyColumn' type='xs:string' use='optional'/>
   <xs:attribute name='order' use='optional'>
    <xs:simpleType>
     <xs:restriction base='xs:string'>
      <xs:enumeration value='BEFORE'/>
      <xs:enumeration value='AFTER'/>
     </xs:restriction>
    </xs:simpleType>
   </xs:attribute>
   <xs:attribute name='databaseId' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='update'>
  <xs:complexType mixed='true'>
   <xs:choice minOccurs='0' maxOccurs='unbounded'>
    <xs:element ref='selectKey'/>
    <xs:element ref='include'/>
    <xs:element ref='trim'/>
    <xs:element ref='where'/>
    <xs:element ref='set'/>
    <xs:element ref='foreach'/>
    <xs:element ref='choose'/>
    <xs:element ref='if'/>
    <xs:element ref='bind'/>
   </xs:choice>
   <xs:attribute name='id' type='xs:string' use='required'/>
   <xs:attribute name='parameterMap' type='xs:string' use='optional'/>
   <xs:attribute name='parameterType' type='xs:string' use='optional'/>
   <xs:attribute name='timeout' type='xs:string' use='optional'/>
   <xs:attribute name='flushCache' use='optional'>
    <xs:simpleType>
     <xs:restriction base='xs:string'>
      <xs:enumeration value='true'/>
      <xs:enumeration value='false'/>
     </xs:restriction>
    </xs:simpleType>
   </xs:attribute>
   <xs:attribute name='statementType' use='optional'>
    <xs:simpleType>
     <xs:restriction base='xs:string'>
      <xs:enumeration value='STATEMENT'/>
      <xs:enumeration value='PREPARED'/>
      <xs:enumeration value='CALLABLE'/>
     </xs:restriction>
    </xs:simpleType>
   </xs:attribute>
   <xs:attribute name='keyProperty' type='xs:string' use='optional'/>
   <xs:attribute name='useGeneratedKeys' use='optional'>
    <xs:simpleType>
     <xs:restriction base='xs:string'>
      <xs:enumeration value='true'/>
      <xs:enumeration value='false'/>
     </xs:restriction>
    </xs:simpleType>
   </xs:attribute>
   <xs:attribute name='keyColumn' type='xs:string' use='optional'/>
   <xs:attribute name='databaseId' type='xs:string' use='optional'/>
   <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='delete'>
  <xs:complexType mixed='true'>
   <xs:choice minOccurs='0' maxOccurs='unbounded'>
    <xs:element ref='include'/>
    <xs:element ref='trim'/>
    <xs:element ref='where'/>
    <xs:element ref='set'/>
    <xs:element ref='foreach'/>
    <xs:element ref='choose'/>
    <xs:element ref='if'/>
    <xs:element ref='bind'/>
   </xs:choice>
   <xs:attribute name='id' type='xs:string' use='required'/>
   <xs:attribute name='parameterMap' type='xs:string' use='optional'/>
   <xs:attribute name='parameterType' type='xs:string' use='optional'/>
   <xs:attribute name='timeout' type='xs:string' use='optional'/>
   <xs:attribute name='flushCache' use='optional'>
    <xs:simpleType>
     <xs:restriction base='xs:string'>
      <xs:enumeration value='true'/>
      <xs:enumeration value='false'/>
     </xs:restriction>
    </xs:simpleType>
   </xs:attribute>
   <xs:attribute name='statementType' use='optional'>
    <xs:simpleType>
     <xs:restriction base='xs:string'>
      <xs:enumeration value='STATEMENT'/>
      <xs:enumeration value='PREPARED'/>
      <xs:enumeration value='CALLABLE'/>
     </xs:restriction>
    </xs:simpleType>
   </xs:attribute>
   <xs:attribute name='databaseId' type='xs:string' use='optional'/>
   <xs:attribute name='lang' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='include'>
  <xs:complexType>
   <xs:sequence minOccurs='0' maxOccurs='1'>
    <xs:element ref='property' maxOccurs='unbounded'/>
   </xs:sequence>
   <xs:attribute name='refid' type='xs:string' use='required'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='bind'>
  <xs:complexType>
   <xs:attribute name='name' type='xs:string' use='required'/>
   <xs:attribute name='value' type='xs:string' use='required'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='sql'>
  <xs:complexType mixed='true'>
   <xs:choice minOccurs='0' maxOccurs='unbounded'>
    <xs:element ref='include'/>
    <xs:element ref='trim'/>
    <xs:element ref='where'/>
    <xs:element ref='set'/>
    <xs:element ref='foreach'/>
    <xs:element ref='choose'/>
    <xs:element ref='if'/>
    <xs:element ref='bind'/>
   </xs:choice>
   <xs:attribute name='id' type='xs:string' use='required'/>
   <xs:attribute name='lang' type='xs:string' use='optional'/>
   <xs:attribute name='databaseId' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='trim'>
  <xs:complexType mixed='true'>
   <xs:choice minOccurs='0' maxOccurs='unbounded'>
    <xs:element ref='include'/>
    <xs:element ref='trim'/>
    <xs:element ref='where'/>
    <xs:element ref='set'/>
    <xs:element ref='foreach'/>
    <xs:element ref='choose'/>
    <xs:element ref='if'/>
    <xs:element ref='bind'/>
   </xs:choice>
   <xs:attribute name='prefix' type='xs:string' use='optional'/>
   <xs:attribute name='prefixOverrides' type='xs:string' use='optional'/>
   <xs:attribute name='suffix' type='xs:string' use='optional'/>
   <xs:attribute name='suffixOverrides' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='where'>
  <xs:complexType mixed='true'>
   <xs:choice minOccurs='0' maxOccurs='unbounded'>
    <xs:element ref='include'/>
    <xs:element ref='trim'/>
    <xs:element ref='where'/>
    <xs:element ref='set'/>
    <xs:element ref='foreach'/>
    <xs:element ref='choose'/>
    <xs:element ref='if'/>
    <xs:element ref='bind'/>
   </xs:choice>
  </xs:complexType>
 </xs:element>

 <xs:element name='set'>
  <xs:complexType mixed='true'>
   <xs:choice minOccurs='0' maxOccurs='unbounded'>
    <xs:element ref='include'/>
    <xs:element ref='trim'/>
    <xs:element ref='where'/>
    <xs:element ref='set'/>
    <xs:element ref='foreach'/>
    <xs:element ref='choose'/>
    <xs:element ref='if'/>
    <xs:element ref='bind'/>
   </xs:choice>
  </xs:complexType>
 </xs:element>

 <xs:element name='foreach'>
  <xs:complexType mixed='true'>
   <xs:choice minOccurs='0' maxOccurs='unbounded'>
    <xs:element ref='include'/>
    <xs:element ref='trim'/>
    <xs:element ref='where'/>
    <xs:element ref='set'/>
    <xs:element ref='foreach'/>
    <xs:element ref='choose'/>
    <xs:element ref='if'/>
    <xs:element ref='bind'/>
   </xs:choice>
   <xs:attribute name='collection' type='xs:string' use='required'/>
   <xs:attribute name='item' type='xs:string' use='optional'/>
   <xs:attribute name='index' type='xs:string' use='optional'/>
   <xs:attribute name='open' type='xs:string' use='optional'/>
   <xs:attribute name='close' type='xs:string' use='optional'/>
   <xs:attribute name='separator' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='choose'>
  <xs:complexType>
   <xs:sequence>
    <xs:element ref='when' minOccurs='0' maxOccurs='unbounded'/>
    <xs:element ref='otherwise' minOccurs='0' maxOccurs='1'/>
   </xs:sequence>
  </xs:complexType>
 </xs:element>

 <xs:element name='when'>
  <xs:complexType mixed='true'>
   <xs:choice minOccurs='0' maxOccurs='unbounded'>
    <xs:element ref='include'/>
    <xs:element ref='trim'/>
    <xs:element ref='where'/>
    <xs:element ref='set'/>
    <xs:element ref='foreach'/>
    <xs:element ref='choose'/>
    <xs:element ref='if'/>
    <xs:element ref='bind'/>
   </xs:choice>
   <xs:attribute name='test' type='xs:string' use='required'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='otherwise'>
  <xs:complexType mixed='true'>
   <xs:choice minOccurs='0' maxOccurs='unbounded'>
    <xs:element ref='include'/>
    <xs:element ref='trim'/>
    <xs:element ref='where'/>
    <xs:element ref='set'/>
    <xs:element ref='foreach'/>
    <xs:element ref='choose'/>
    <xs:element ref='if'/>
    <xs:element ref='bind'/>
   </xs:choice>
  </xs:complexType>
 </xs:element>

 <xs:element name='if'>
  <xs:complexType mixed='true'>
   <xs:choice minOccurs='0' maxOccurs='unbounded'>
    <xs:element ref='include'/>
    <xs:element ref='trim'/>
    <xs:element ref='where'/>
    <xs:element ref='set'/>
    <xs:element ref='foreach'/>
    <xs:element ref='choose'/>
    <xs:element ref='if'/>
    <xs:element ref='bind'/>
   </xs:choice>
   <xs:attribute name='test' type='xs:string' use='required'/>
  </xs:complexType>
 </xs:element>
</xs:schema>
